*{
    margin: 1%;
   
    box-sizing: border-box;
}
body{
    font-family:sans-serif;
    font-size: 25px;
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;
}

hr{
border: 3px double rgb(14, 204, 43);
}

